openapi: "3.0.0"
info:
  title: Spillkar (Spillk친r) 游꿭
  description: |-
    Spillkar gj칮r noe greier med vilk친r.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/license/mit/

servers:
  - url: https://spillkar.intern.dev.nav.no
    description: Test
  - url: http://localhost:8080
    description: Lokalt
  
tags:
  - name: Hente alle samlinger av inngangsvilk친r

paths:
    /vurderte-inngangsvilk친r/alle:
      post:
        summary: Henter ut alle samlinger av inngangsvilk친r gjort p친 personen p친 et gitt skj칝ringstidspunkt
        tags:
          - Hente alle samlinger av inngangsvilk친r
        description: |-
          TODO
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HentAlleSamlingerAvInngangsvilk친r'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SamlingAvVurderteInngangsvilk친rResponse'
  
components:
  schemas:
    RequestV1:
      type: object
      required: ["personidentifikator", "organisasjonsnummer", "fraOgMedDato", "tilOgMedDato"]
      properties:
        personidentifikator:
          type: string
          pattern: '^\d{11}$'
          description: Personidentifikator for personen
          example: 11111111111
        organisasjonsnummer:
          type: string
          pattern: '^\d{9}$'
          description: Organisasjonsnummer til underenheten som er tilsluttet ordningen
          example: 999999999
        fraOgMedDato:
          type: string
          format: date
          description: Fra og med dato
          example: 2021-01-01
        tilOgMedDato:
          type: string
          format: date
          description: Til og med dato
          example: 2021-01-31
        minimumSykdomsgrad:
          type: integer
          minimum: 1
          maximum: 100
          description: Anbefalt, men valgfri. Minimum sykdomsgrad som er aktuelt 친 utlevere informasjon om for 친 vurdere vilk친rene for AFP for den aktuelle underenheten
          example: 80

    HentAlleSamlingerAvInngangsvilk친r:
      type: object
      required: ["personidentifikatorer", "skj칝ringstidspunkt"]
      properties:
        personidentifikatorer:
          type: array
          items:
            type: string
            description: Personidentifikator for personen
            example: 11111111111
        skj칝ringstidspunkt:
          type: string
          format: date
          example: 2021-01-01

    VurdertInngangsvilk친r:
      type: object
      oneOf:
        - required: ["vilk친rskode", "tidspunkt", "automatiskVurdering"]
        - required: ["vilk친rskode", "tidspunkt", "manuellVurdering"]
      properties:
        tidspunkt:
          type: string
          format: date-time
          description: N친r vurderingen ble gjort
        vilk친rskode:
          type: string
          description: Koden til det vilk친ret som er vurdert
          example: MEDLEMSKAP
        vurderingskode:
          type: string
          description: Begrunnelse for oppfylt eller ikke oppfylt fra kodeverket
          example: MEDLEMSKAP_JA
        automatiskVurdering:
          type: object
          description: Vurdert automatisk av noen
          properties:
            system:
              type: string
            versjon:
              type: string
            grunnlagsdata:
              type: object
              description: Pekere til fakta som er lagt til grunn for den automatiske vilk친rsvurderingen
              properties:
                medlemskapId:
                  type: string
                  format: uuid
        manuellVurdering:
          type: object
          description: Vurdert manuelt av saksbehandler
          properties:
            navident:
              type: string
              example: P31337
            begrunnelse:
              type: string
              example: Etter brev fra udi journalf칮rt med id 1337 fremkommer det at sykmeldte er medlem av folketrygden

    SamlingAvVurderteInngangsvilk친r:
      type: object
      required: [ "versjon", "skj칝ringstidspunkt", "vurderteInngangsvilk친r" ]
      properties:
        samlingAvVurderteInngangsvilk친rId:
          type: string
          format: uuid
        versjon:
          type: integer
          description: Versjon av samling av vurderte inngangsvilk친r (stigende l칮penummer)
          example: 1
        skj칝ringstidspunkt:
          type: string
          format: date
        vurderteInngangsvilk친r:
          type: array
          items:
            $ref: '#/components/schemas/VurdertInngangsvilk친r'

    SamlingAvVurderteInngangsvilk친rResponse:
      type: object
      required: [ "samlingAvVurderteInngangsvilk친r" ]
      properties:
        samlingAvVurderteInngangsvilk친r:
          type: array
          items:
            $ref: '#/components/schemas/SamlingAvVurderteInngangsvilk친r'
