openapi: "3.0.0"
info:
  title: Spillkar (Spillk친r) 游꿭
  description: |-
    Spillkar gj칮r noe greier med vilk친r.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/license/mit/

servers:
  - url: https://spillkar.intern.dev.nav.no
    description: Test
  - url: http://localhost:8080
    description: Lokalt
  
tags:
  - name: Hent inngangsvilk친r
  - name: Send inn vurderinger av inngangsvilk친r

paths:
    /vurderte-inngangsvilkar/alle:
      post:
        summary: Henter ut alle samlinger av inngangsvilk친r gjort p친 personen p친 et gitt skj칝ringstidspunkt
        tags:
          - Hent inngangsvilk친r
        description: |-
          - Speilvendt henter ut alle samlinger av inngangsvilk친r for 친 vise historikk i Speil.
          - Det m친 v칝re et on-behalf-of-token fra saksbehandler.
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HentInngangsvilk친r'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SamlingAvVurderteInngangsvilk친rResponse'

    /vurderte-inngangsvilkar/gjeldende:
      post:
        summary: Henter ut den gjeldende samlingen av inngangsvilk친r gjort p친 personen p친 et gitt skj칝ringstidspunkt
        tags:
          - Hent inngangsvilk친r
        description: |-
          - Spleis sender ut et behov om vurderte inngangsvilk친r. 
          - Den asynkrone biten av Spillkar l칮ser dette behovet ved 친 requeste dette endepunktet.
          - Dette endepunktet skal kreve en rolle som bare den asynkrone biten av Spillkar har. 
          - L칮sningen p친 behovet er en-til-en med responsen p친 dette endepunktet.
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HentInngangsvilk친r'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GjeldendeSamlingAvVurderteInngangsvilk친r'

    /vurderte-inngangsvilkar/manuelle-vurderinger:
      post:
        summary: Saksbehandler vurderer ett eller flere inngangsvilk친r
        tags:
          - Send inn vurderinger av inngangsvilk친r
        description: |-
          - Brukes n친r saksbehandler manuelt har vurdert ett eller flere inngangsvilk친r.
          - Det m친 v칝re et on-behalf-of-token hvor vi fisker ut navident.
          - Spillkar s칮rger for at det sendes ut en melding p친 kafka om at det foreligger nye vilk친r p친 skj칝ringstidspunktet for personen.
          - Spleis lytter p친 denne meldingen og reberegner perioder fra og med skj칝ringstidspunktet.
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManueltVurderteInngangsvilk친r'
        responses:
          '204':
            description: No content

    /vurderte-inngangsvilkar/automatiske-vurderinger:
      post:
        summary: Datamaskinen vurderer ett eller flere inngangsvilk친r
        tags:
          - Send inn vurderinger av inngangsvilk친r
        description: |-
          - Brukes av Spleis n친r automatiske vurderinger av inngangsvilk친r har blitt gjort.
          - Spleis sender ut en melding p친 rapiden som den asynkrone av Spillkar lytter p친, og requester dette endepunktet.
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomatiskVurderteInngangsvilk친r'
        responses:
          '204':
            description: No content

components:
  schemas:
    HentInngangsvilk친r:
      type: object
      required: ["personidentifikatorer", "skj칝ringstidspunkt"]
      properties:
        personidentifikatorer:
          type: array
          items:
            type: string
            description: Personidentifikator for personen
            example: 11111111111
        skj칝ringstidspunkt:
          type: string
          format: date
          example: 2021-01-01

    ManueltVurderteInngangsvilk친r:
      type: object
      required: ["personidentifikator", "skj칝ringstidspunkt", "versjon", "vurderteInngangsvilk친r"]
      properties:
        personidentifikator:
          type: string
          description: Personidentifikator for personen
          example: 11111111111
        skj칝ringstidspunkt:
          type: string
          format: date
          example: 2021-01-01
        versjon:
          type: integer
          example: 1
          description: Spillkar skal kun lagre disse nye inngangsvilk친rene gitt at dette er den siste versjonen av samling
        vurderteInngangsvilk친r:
          type: array
          items:
            $ref: '#/components/schemas/ManueltVurdertInngangsvilk친r'

    AutomatiskVurderteInngangsvilk친r:
      type: object
      required: ["personidentifikator", "skj칝ringstidspunkt", "vurderteInngangsvilk친r"]
      properties:
        personidentifikator:
          type: string
          description: Personidentifikator for personen
          example: 11111111111
        skj칝ringstidspunkt:
          type: string
          format: date
          example: 2021-01-01
          description: Spillkar skal kun lagre disse nye inngangsvilk친rene gitt at dette er den siste versjonen av samling
        vurderteInngangsvilk친r:
          type: array
          items:
            $ref: '#/components/schemas/AutomatiskVurdertInngangsvilk친r'

    VurdertInngangsvilk친r:
      type: object
      oneOf:
        - required: ["vilk친rskode", "tidspunkt", "automatiskVurdering"]
        - required: ["vilk친rskode", "tidspunkt", "manuellVurdering"]
      properties:
        tidspunkt:
          type: string
          format: date-time
          description: N친r vurderingen ble gjort
        vilk친rskode:
          type: string
          description: Koden til det vilk친ret som er vurdert
          example: MEDLEMSKAP
        vurderingskode:
          type: string
          description: Begrunnelse for oppfylt eller ikke oppfylt fra kodeverket
          example: MEDLEMSKAP_JA
        automatiskVurdering:
          $ref: '#/components/schemas/AutomatiskVurdering'
        manuellVurdering:
          type: object
          description: Vurdert manuelt av saksbehandler
          properties:
            navident:
              type: string
              example: P31337
            begrunnelse:
              type: string
              example: Etter brev fra udi journalf칮rt med id 1337 fremkommer det at sykmeldte er medlem av folketrygden

    MinimalVurdertInngangsvilk친r:
      type: object
      required: ["vilk친rskode"]
      properties:
        vilk친rskode:
          type: string
          description: Koden til det vilk친ret som er vurdert
          example: MEDLEMSKAP
        vurderingskode:
          type: string
          description: Begrunnelse for oppfylt eller ikke oppfylt fra kodeverket
          example: MEDLEMSKAP_JA

    ManueltVurdertInngangsvilk친r:
      type: object
      required: ["vilk친rskode", "vurderingskode", "tidspunkt", "begrunnelse"]
      properties:
        tidspunkt:
          type: string
          format: date-time
          description: N친r vurderingen ble gjort
        vilk친rskode:
          type: string
          description: Koden til det vilk친ret som er vurdert
          example: MEDLEMSKAP
        vurderingskode:
          type: string
          description: Begrunnelse for oppfylt eller ikke oppfylt fra kodeverket
          example: MEDLEMSKAP_JA
        begrunnelse:
          type: string
          example: Etter brev fra udi journalf칮rt med id 1337 fremkommer det at sykmeldte er medlem av folketrygden

    AutomatiskVurdertInngangsvilk친r:
      type: object
      required: ["vilk친rskode", "tidspunkt", automatiskVurdering"]
      properties:
        tidspunkt:
          type: string
          format: date-time
          description: N친r vurderingen ble gjort
        vilk친rskode:
          type: string
          description: Koden til det vilk친ret som er vurdert
          example: MEDLEMSKAP
        vurderingskode:
          type: string
          description: Begrunnelse for oppfylt eller ikke oppfylt fra kodeverket
          example: MEDLEMSKAP_JA
        automatiskVurdering:
          $ref: '#/components/schemas/AutomatiskVurdering'

    SamlingAvVurderteInngangsvilk친r:
      type: object
      required: [ "versjon", "skj칝ringstidspunkt", "vurderteInngangsvilk친r", "samlingAvVurderteInngangsvilk친rId" ]
      properties:
        samlingAvVurderteInngangsvilk친rId:
          type: string
          format: uuid
        versjon:
          type: integer
          description: Versjon av samling av vurderte inngangsvilk친r (stigende l칮penummer)
          example: 1
        skj칝ringstidspunkt:
          type: string
          format: date
        vurderteInngangsvilk친r:
          type: array
          items:
            $ref: '#/components/schemas/VurdertInngangsvilk친r'

    GjeldendeSamlingAvVurderteInngangsvilk친r:
      type: object
      required: [ "vurderteInngangsvilk친r", "samlingAvVurderteInngangsvilk친rId" ]
      properties:
        samlingAvVurderteInngangsvilk친rId:
          type: string
          format: uuid
        vurderteInngangsvilk친r:
          type: array
          items:
            $ref: '#/components/schemas/MinimalVurdertInngangsvilk친r'

    SamlingAvVurderteInngangsvilk친rResponse:
      type: object
      required: [ "samlingAvVurderteInngangsvilk친r" ]
      properties:
        samlingAvVurderteInngangsvilk친r:
          type: array
          items:
            $ref: '#/components/schemas/SamlingAvVurderteInngangsvilk친r'

    AutomatiskVurdering:
      type: object
      description: Vurdert automatisk av noen
      properties:
        system:
          type: string
          example: Spleis
        versjon:
          type: string
          example: 2026.02.19-10.07-793bcfe
        grunnlagsdata:
          type: object
          description: Pekere til fakta som er lagt til grunn for den automatiske vilk친rsvurderingen
          properties:
            medlemskapId:
              type: string
              format: uuid
