openapi: "3.0.0"
info:
  title: Spillkar (Spillk친r) 游꿭
  description: |-
    Spillkar gj칮r noe greier med vilk친r.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/license/mit/

servers:
  - url: https://spillkar.intern.dev.nav.no
    description: Test
  - url: http://localhost:8080
    description: Lokalt
  
tags:
  - name: Hente alle samlinger av inngangsvilk친r
  - name: Send inn vurderinger av inngangsvilk친r

paths:
    /vurderte-inngangsvilk친r/alle:
      post:
        summary: Henter ut alle samlinger av inngangsvilk친r gjort p친 personen p친 et gitt skj칝ringstidspunkt
        tags:
          - Hente alle samlinger av inngangsvilk친r
        description: |-
          TODO
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HentAlleSamlingerAvInngangsvilk친r'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SamlingAvVurderteInngangsvilk친rResponse'

    /vurderte-inngangsvilk친r/manuelle-vurderinger:
      post:
        summary: Saksbehandler vurderer ett eller flere inngangsvilk친r
        tags:
          - Send inn vurderinger av inngangsvilk친r
        description: |-
          Det m친 v칝re et on-behalf-of-token hvor vi fisker ut navident.
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManueltVurderteInngangsvilk친r'
        responses:
          '204':
            description: No content

components:
  schemas:
    HentAlleSamlingerAvInngangsvilk친r:
      type: object
      required: ["personidentifikatorer", "skj칝ringstidspunkt"]
      properties:
        personidentifikatorer:
          type: array
          items:
            type: string
            description: Personidentifikator for personen
            example: 11111111111
        skj칝ringstidspunkt:
          type: string
          format: date
          example: 2021-01-01

    ManueltVurderteInngangsvilk친r:
      type: object
      required: ["personidentifikatorer", "skj칝ringstidspunkt", "versjon", "vurderteInngangsvilk친r"]
      properties:
        personidentifikatorer:
          type: array
          items:
            type: string
            description: Personidentifikator for personen
            example: 11111111111
        skj칝ringstidspunkt:
          type: string
          format: date
          example: 2021-01-01
        versjon:
          type: integer
          description: Spillkar skal kun lagre disse nye inngangsvilk친rene gitt at dette er den siste versjonen av samling
        vurderteInngangsvilk친r:
          type: array
          items:
            $ref: '#/components/schemas/ManueltVurdertInngangsvilk친r'

    VurdertInngangsvilk친r:
      type: object
      oneOf:
        - required: ["vilk친rskode", "tidspunkt", "automatiskVurdering"]
        - required: ["vilk친rskode", "tidspunkt", "manuellVurdering"]
      properties:
        tidspunkt:
          type: string
          format: date-time
          description: N친r vurderingen ble gjort
        vilk친rskode:
          type: string
          description: Koden til det vilk친ret som er vurdert
          example: MEDLEMSKAP
        vurderingskode:
          type: string
          description: Begrunnelse for oppfylt eller ikke oppfylt fra kodeverket
          example: MEDLEMSKAP_JA
        automatiskVurdering:
          type: object
          description: Vurdert automatisk av noen
          properties:
            system:
              type: string
            versjon:
              type: string
            grunnlagsdata:
              type: object
              description: Pekere til fakta som er lagt til grunn for den automatiske vilk친rsvurderingen
              properties:
                medlemskapId:
                  type: string
                  format: uuid
        manuellVurdering:
          type: object
          description: Vurdert manuelt av saksbehandler
          properties:
            navident:
              type: string
              example: P31337
            begrunnelse:
              type: string
              example: Etter brev fra udi journalf칮rt med id 1337 fremkommer det at sykmeldte er medlem av folketrygden

    ManueltVurdertInngangsvilk친r:
      type: object
      required: ["vilk친rskode", "vurderingskode", "tidspunkt", "begrunnelse"]
      properties:
        tidspunkt:
          type: string
          format: date-time
          description: N친r vurderingen ble gjort
        vilk친rskode:
          type: string
          description: Koden til det vilk친ret som er vurdert
          example: MEDLEMSKAP
        vurderingskode:
          type: string
          description: Begrunnelse for oppfylt eller ikke oppfylt fra kodeverket
          example: MEDLEMSKAP_JA
        begrunnelse:
          type: string
          example: Etter brev fra udi journalf칮rt med id 1337 fremkommer det at sykmeldte er medlem av folketrygden

    SamlingAvVurderteInngangsvilk친r:
      type: object
      required: [ "versjon", "skj칝ringstidspunkt", "vurderteInngangsvilk친r" ]
      properties:
        samlingAvVurderteInngangsvilk친rId:
          type: string
          format: uuid
        versjon:
          type: integer
          description: Versjon av samling av vurderte inngangsvilk친r (stigende l칮penummer)
          example: 1
        skj칝ringstidspunkt:
          type: string
          format: date
        vurderteInngangsvilk친r:
          type: array
          items:
            $ref: '#/components/schemas/VurdertInngangsvilk친r'

    SamlingAvVurderteInngangsvilk친rResponse:
      type: object
      required: [ "samlingAvVurderteInngangsvilk친r" ]
      properties:
        samlingAvVurderteInngangsvilk친r:
          type: array
          items:
            $ref: '#/components/schemas/SamlingAvVurderteInngangsvilk친r'
